<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>!!ERROR!!</title>
  </head>
  <body>
    <div class="landingContainer">
      <img src="/404.jpg" alt="oldman" class="oldman" />
      <h1 class="errortext"><%= message %></h1>
      <h2 class="errortext"><%= error.status %></h2>
      <pre class="errortext"><%= error.stack %></pre>
    </div>
  </body>
</html>
