<%- include('./partials/head') %> <%- include('./partials/nav') %>

<div class="landingContainer">
  <img
    src="https://media.giphy.com/media/pNsBooBjruKnm/giphy.gif"
    alt="this fire moves"
    class="fire"
  />
  <div class="centered"><%= title %></div>
</div>

<%- include('./partials/tail') %>
